.column {
    margin: 50px 70px 50px 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.column img {
    width: 125´px;
    height: 75px;
    background-color: #00A0DC;
    border-radius: 25px;
}

.redes {
    display: flex;
    align-self: center;
    align-items: center;
    background-color: #00A0DC;
    border-radius: 25px;
    height: 50px;
    margin-left: 30px;
}

footer{
    color:#333333;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

footer p {
    margin: 30px 0 0;
    padding: 15;
}
