#APlogo{
    align-self: center;
}

.nav{
    justify-content: space-around;
}

.column {
    margin: 50px 70px 40px 5px;
}

.column img {
    width: 85px;
    height: 50px;
    background-color: #00A0DC;
    border-radius: 25px;
}

.redes {
    display: flex;
    align-items: center;
    background-color: #00A0DC;
    border-radius: 25px;
    height: 50px;
    margin-left: 30px;
}

a > img:hover{
    background-color: rgb(86, 86, 116);
    transition: 0.3s;
}


footer{
    color:#333333;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

footer p {
    margin: 0 10px;
    padding: 2px;
}
