@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #fff;
}

.recycle{
    margin: 20px 50px;
    padding: 20px;
    border-radius: 10px;
}