.navbarcont{
    background-color: rgb(8, 7, 7);
    width: 100% vh;
    height: auto;
    display: flex;

}

.logocont {
    width: 100px;
    height: 150px;
    
}

.logoAP {
    height: 100px;
    width: 150px;
    margin: 20px;
}

#yoprog {
    display: flex;
    align-items: center;
    min-height: 115px;
}

#yoprog p {
    color: #fff;
    margin: 20px;
    
}

.redescont{
    margin-top: 10px;
    float: right;
}

app-redes{
    background-color: blue;
}

