<div class="row card recycle">
    <div class=""><h3>Skills</h3>
        <div class="hard skills"><h4>Hard Skills</h4>
            <div class="row circles__container">
            <div class="skills_circle">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#00A0DC'"
                    [innerStrokeColor]="'rgba(86, 86, 116, 0.555)'"
                    [animation]="true"
                    [animationDuration]="300"
                    
                ></circle-progress>
            </div>
            <div class="skills__circle">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#00A0DC'"
                    [innerStrokeColor]="'rgba(86, 86, 116, 0.555)'"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
            </div>
            <div class="skills__circle">
                <circle-progress
                    [percent]="85"
                    [radius]="100"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#00A0DC'"
                    [innerStrokeColor]="'rgba(86, 86, 116, 0.555)'"
                    [animation]="true"
                    [animationDuration]="300"
                ></circle-progress>
            </div>
        </div>
        </div>
        <div class="soft skills"><h4>Soft Skills</h4>
            <div class="row circles__container">
                <div class="skills__circle">
                    <circle-progress
                        [percent]="85"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#00A0DC'"
                        [innerStrokeColor]="'rgba(86, 86, 116, 0.555)'"
                        [animation]="true"
                        [animationDuration]="300"
                        
                    ></circle-progress>
                </div>
                <div class="skills__circle">
                    <circle-progress
                        [percent]="85"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#00A0DC'"
                        [innerStrokeColor]="'rgba(86, 86, 116, 0.555)'"
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
                </div>
                <div class="skills__circle">
                    <circle-progress
                        [percent]="85"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#00A0DC'"
                        [innerStrokeColor]="'rgba(86, 86, 116, 0.555)'"
                        [animation]="true"
                        [animationDuration]="300"
                    ></circle-progress>
                </div>
            </div>
        </div>

    </div>